@model PoliScrum.Models.UserStory

@{
    ViewData["Title"] = "Crear Nuevo";
}

<h2>Crear Nuevo</h2>

<h4>User Story</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriteriosAceptacion" class="control-label"></label>
                <input asp-for="CriteriosAceptacion" class="form-control" />
                <span asp-validation-for="CriteriosAceptacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdenPrioridad" class="control-label"></label>
                <input asp-for="OrdenPrioridad" class="form-control" />
                <span asp-validation-for="OrdenPrioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracionEstimada" class="control-label"></label>
                <input asp-for="DuracionEstimada" class="form-control" />
                <span asp-validation-for="DuracionEstimada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
