@{
    ViewData["Title"] = "Inicio";
}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
        <h1 class="jumbotron-heading">PoliScrum</h1>
        <p class="lead text-muted">PoliScrum es una herramienta ágil de gestión de proyectos diseñada para aplicar en los equipos la metodología ágil Scrum. Con PoliScrum puedes planificar, supervisar y gestionar todos los proyectos de desarrollo de software ágil. Estima las historias de usuario, planifica los sprints, ajusta el alcance de los sprints, comprueba la velocidad y corrige la prioridad de las incidencias en tiempo real con el resto del equipo.</p>
        <p>
            <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
            <a class="btn btn-secondary my-2" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
        </p>
        </div>
    </section>

</main>