@page
@model PoliScrum.Pages.Usuarios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Apellido" class="control-label"></label>
                <input asp-for="Usuario.Apellido" class="form-control" />
                <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Cedula" class="control-label"></label>
                <input asp-for="Usuario.Cedula" class="form-control" />
                <span asp-validation-for="Usuario.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.FechaNacimiento" class="control-label"></label>
                <input asp-for="Usuario.FechaNacimiento" class="form-control" />
                <span asp-validation-for="Usuario.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.CorreoElectronico" class="control-label"></label>
                <input asp-for="Usuario.CorreoElectronico" class="form-control" />
                <span asp-validation-for="Usuario.CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Contrasena" class="control-label"></label>
                <input asp-for="Usuario.Contrasena" class="form-control" />
                <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
