@page
@model PoliScrum.Pages.UserStories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>HistoriaUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HistoriaUsuario.titulo" class="control-label"></label>
                <input asp-for="HistoriaUsuario.titulo" class="form-control" />
                <span asp-validation-for="HistoriaUsuario.titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoriaUsuario.Descripcion" class="control-label"></label>
                <input asp-for="HistoriaUsuario.Descripcion" class="form-control" />
                <span asp-validation-for="HistoriaUsuario.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoriaUsuario.CriterioAceptacion" class="control-label"></label>
                <input asp-for="HistoriaUsuario.CriterioAceptacion" class="form-control" />
                <span asp-validation-for="HistoriaUsuario.CriterioAceptacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoriaUsuario.Orden" class="control-label"></label>
                <input asp-for="HistoriaUsuario.Orden" class="form-control" />
                <span asp-validation-for="HistoriaUsuario.Orden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoriaUsuario.DuracionEstimada" class="control-label"></label>
                <input asp-for="HistoriaUsuario.DuracionEstimada" class="form-control" />
                <span asp-validation-for="HistoriaUsuario.DuracionEstimada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoriaUsuario.Valor" class="control-label"></label>
                <input asp-for="HistoriaUsuario.Valor" class="form-control" />
                <span asp-validation-for="HistoriaUsuario.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
